{% load cms_tags menu_tags sekizai_tags static %}
{# load cms_tags ssekizai_tags static menu_tags i18n #}
<!doctype html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">

  <head>

    {% block meta_tags %}
    <meta http-equiv="encoding" content="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% page_attribute "meta_description" %}" />
    <meta name="keywords" content="{% page_attribute "meta_keywords" %}" />
    {% endblock meta_tags %}

    <title>{% block title %}{% page_attribute page_title %}{% if site_settings.site.name %} | {{ site_settings.site.name }}{% endif %}{% endblock title %}</title>

    <script src="/static/js/base.js"></script>
    <script src="/static/js/main.js"></script>

    <!-- todo: only show this when the admin mode is on -->
    <style type="text/css">
      .nav { padding-left: 0; }
      .nav li { display: inline; list-style-type: none; padding-right: 20px; }
      .container { width: 940px; margin: 0 auto }
      .content { float: left; width: 80%; }
      .sidebar { float: left; width: 20%; }
    </style>

    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;600&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

    <link href="/static/css/main.css" rel="stylesheet">
    {% render_block "css" %}

  </head><body><div id="body-lining">
    {% cms_toolbar %}

    {% block content %}[content]{% endblock content %}

    </div><!--end #body-lining -->
    <!-- todo: only show this when the admin mode is on -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    {% render_block "js" %}
  </body>

</html>
