{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags static cache i18n debugger_tags %}

{% block header %}
  <header>

  <div id="page-header" class="grid-container full">

    <div class="grid-x">

      <!-- #site-title-cell -->
      <div id="site-title-cell" class="cell small-2 medium-3 text-center align-top">
          <div>
            <h1>
              <span>Ada's</span><br>
              <span>little</span><br>
              <span>website</span>
            </h1>
          </div>
      </div>

      <!-- #top-stuff -->
      <div id="top-stuff" class="cell small-10 medium-9 grid-padding-x flex-dir-column">

        <!--
        <div class="cell small-12 flex-grow" style="border: 1px solid red">{% show_menu 0 100 100 100 %}</div>
        -->

        <div class="cell"><span class="badge primary"><i class="fas fa-at"></i></span> by Ada Wright</div>
        <div class="cell"><span class="understated"><span class="badge primary"><i class="fas fa-tags"></i></span> </span>salt, web development, Python, Ubuntu</div>
        <div class="cell">Published/last updated
          <i class="far fa-calendar-alt"></i>
            <span class="iso-8601"><span class="date">2020-11-22</span><span class="a-t">T</span><span class="time">08:42:21</span><span class="zone">+0000</span></span>
          <span class="time-ago"><i class="far fa-clock"></i> 117 days ago</span>
        </div>

      </div>
    </div>
  </div>

  </header>
{% endblock header %}

{% block content %}
  <main>

  <div id="title-container" class="grid-container full">
    <div class="grid-x align-left">

      <div id="page-section" class="cell small-2 medium-3 align-right">

        <div class="grid-x align-right align-bottom">
          <div class="cell align-bottom small-9 text-right">
            <span class="p">{% placeholder "page_section_label" or %}[page_section]{% endplaceholder %}</span>
          </div>
        </div>

      </div>

      <div id="page-title" class="cell small-9 medium-8">
        <h1><small>{% placeholder "series_label" or %}[series label]{% endplaceholder %}</small><br>
          {% page_attribute "page_title" %}, <span class="kill-orphans">with Salt</span></h1>
      </div>

    </div>
  </div>

  <div id="body-container" class="grid-container full">
    <div id="body-sidebar" class="grid-x grid-padding-x grid-padding-y">
      <div class="cell small-2 medium-3 align-center text-center">

        <!-- human mask -->
        <img id="ada-portrait" src="/static/images/ada-portrait-fs8.png" alt="Selfie of Ada under an umbrella" />

      </div>
      <div id="body-copy" class="cell small-10 medium-9">

        {% placeholder "content" %}

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu pharetra est, vitae ultricies nisi. Phasellus in nisi turpis. Praesent mattis mi vel mauris tempus, at cursus lorem porta. Etiam ac auctor elit, nec tristique elit. Integer congue porttitor auctor. Cras facilisis massa quis dui hendrerit vehicula. Nulla lacinia vehicula elit, eu sodales mi vehicula quis.</p>
        <p>Quisque a dapibus leo. Praesent ut dui aliquet, fringilla lorem eu, venenatis lectus. Suspendisse dapibus eu mi at mollis. Morbi suscipit pellentesque erat vulputate facilisis. Sed justo nunc, aliquam et dui non, laoreet dapibus turpis. Nullam tempus justo vitae dui tristique mollis. Ut suscipit egestas lectus, vitae mollis nibh feugiat vitae.</p>
        <p>Integer eu enim sed lacus laoreet convallis. Praesent ut sapien molestie, venenatis quam at, dictum sapien. Sed fermentum, sapien eget dapibus eleifend, nulla elit vulputate ex, ac interdum erat nunc vel sem. Aenean vehicula rhoncus ligula a maximus. Quisque ac ex efficitur, convallis erat ac, malesuada ipsum. Fusce malesuada tempor tortor, in egestas sapien. Duis in sem id nulla tempus condimentum ac sed arcu. Vestibulum ut finibus mauris.</p>
        <p>Etiam gravida mi non ligula maximus lacinia. Nulla non mi nec odio faucibus pulvinar dictum nec orci. Duis pulvinar tempus faucibus. Maecenas elementum ante sapien, vel posuere felis eleifend ut. In diam nulla, accumsan sit amet eros at, aliquam mollis tortor. Maecenas varius, massa sit amet venenatis ullamcorper, lacus libero hendrerit felis, sed molestie quam risus sit amet augue. Integer dapibus ultricies tellus non pretium. Curabitur bibendum ornare tortor, in sollicitudin purus rutrum ac. Sed in tristique libero. Maecenas tempor sed erat vitae hendrerit. Aenean consequat pellentesque ex, hendrerit ultricies ipsum convallis ac. Vivamus volutpat id erat sollicitudin ornare. Aenean vitae egestas nisi. Phasellus ac fermentum nisl. Proin imperdiet auctor nisi, sit amet tempus est pharetra in. Aliquam condimentum pulvinar pulvinar.</p>
        <p>Sed lacus dui, ornare vitae lacinia eget, hendrerit nec neque. Duis congue sollicitudin egestas. Donec placerat leo mi, sed sagittis neque tempus ut. Fusce iaculis interdum risus ut iaculis. Nunc ut purus at elit viverra venenatis ut volutpat nisl. Mauris quis massa mattis, elementum nisl at, luctus sapien. Pellentesque cursus molestie leo quis posuere. Curabitur ante nibh, interdum lobortis lectus in, sodales malesuada purus. Nulla varius auctor dictum. Maecenas at aliquet massa. Maecenas vel ante malesuada, aliquet enim et, elementum libero. Suspendisse tincidunt ex risus, sit amet mattis urna mattis in. Fusce euismod volutpat erat eget elementum. Morbi eget fermentum magna, vel viverra ligula.</p>
        <p>Nunc mattis, odio id auctor faucibus, ante odio fermentum augue, ut pharetra tellus sem et enim. Sed tincidunt pellentesque sapien, quis suscipit lacus semper nec. Maecenas vitae urna sit amet tortor ultrices tempor eu sed tellus. Nunc sagittis maximus justo, nec posuere mi posuere at. Duis feugiat erat id sapien tincidunt eleifend. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec vulputate sodales aliquet. Ut eu tortor id nibh pellentesque finibus. Morbi a enim id magna congue vulputate.</p>
      </div>
    </div>
  </div>

  </main>
{% endblock content %}

{% block footer %}
  <footer>

  <div id="pride-stripe" class="grid-container full">
    <div class="grid-x">
      <div class="cell small-2 pride_red"></div>
      <div class="cell small-2 pride_orange"></div>
      <div class="cell small-2 pride_yellow"></div>
      <div class="cell small-2 pride_green"></div>
      <div class="cell small-2 pride_blue"></div>
      <div class="cell small-2 pride_purple"></div>
    </div>
  </div>

  </footer>
{% endblock footer %}

