
*.swo
*.py~
*__pycache__*



# Patterns for git to ignore...
#
# Secrets
secrets.*

# Dependencies
node_modules
lib/
/.pnp
.pnp.js

# Testing
*/coverage

# Build
*.egg-info/
pyproject.toml
.env

# Production
static/*

# Transient
var/build*
var/cookiecutter*
var/pgdumps/*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
# Managed applications
src/picata

# Lockfiles
package-lock.json

# Building
*.egg-info/
.env

# Logs
npm-debug.log*

# System
var

# Tools and libraries and junk
node_modules
*.tfstate*
.terraform
terraform.tfvars
.vagrant
.coverage

# Transient/system files
*.log
*.swp
*.tmp
.DS_Store
junk
