<!doctype html>
<html class="no-js" lang="en">
  <head>

    <meta http-equiv="encoding" content="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Style gallery - Hpk.io</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  </head>
  <body><div id="body-lining">

    <!--
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
      <div class="title-bar-title">Menu</div>
    </div>
    -->
    <div id="background-left" class="grid-container full">
      <p>nothing should go here.</p>
    </div>

    <div id="page-header" class="grid-container full">
      <div class="grid-x grid-margin-x">
        <div class="cell small-3">
          <p>first 3 cells</p>
        </div>
        <div class="cell auto">
      <!--
      <div class="top-bar">
        <div class="top-bar-left">-->
          <ul id="top-nav" class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Site Title</li>
            <li>
              <a href="#">One</a>
              <ul class="menu vertical">
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
              </ul>
            </li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
          </ul>
      <!--
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Search</button></li>
          </ul>
        </div>
      </div>
      -->
        </div>
      </div>
    </div>

    <div class="grid-container full">
        <div class="cell small-3">
          left col
        </div>
        <div class="cell small-9">
          main body..
        </div>
    </div>

  </div><!--end #body-lining--></body>
</html>
