<!doctype html>
<html class="no-js" lang="en">
  <head>

    <meta http-equiv="encoding" content="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Style gallery - Hpk.io</title>

    <!--<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@400;700&display=swap" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;600&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  </head>
  <body><div id="body-lining">

    <!--
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
      <div class="title-bar-title">Menu</div>
    </div>
    -->
    <!--
    <div id="background-left" class="grid-container full">
      <p>nothing should go here.</p>
    </div>
    -->

    <header>
    <div id="page-header" class="grid-container full">
      <div class="grid-x">

        <!-- #site-title-cell -->
        <div class="cell small-3 text-center" id="site-title-cell">
            <div>
              <h1>
                <span>Ada's</span><br>
                <span>little</span><br>
                <span>website</span>
              </h1>
            </div>
        </div>

        <!-- #top-stuff -->
        <div class="cell small-9 grid-padding-x grid-x flex-dir-column-reverse" id="top-stuff">

          <div class="cell"><span class="understated">category:</span> development practices</div>
          <div class="cell"><span class="understated">tags:</span>salt, web development, Python, Ubuntu</div>
          <div class="cell">Published/last updated: 2020-11-TODO @ 17:57 UTC (N days ago)</div>
          <div class="cell">by Ada Wright</div>

        </div>
      </div>
    </div>
    </header>

    <main>

    <div id="title-container" class="grid-container full">
      <div class="grid-x align-center grid-padding-x">

        <div id="page-section" class="cell small-2 grid-x align-bottom align-right">
          <!--<div id="title-section" class="grid-x" class="align-right">
            <div class="cell small-12">-->
              <p>blog</p>
          <!--</div>-->
        </div>

        <div id="page-title" class="cell small-8">
          <h1><small>Development practices:</small><br>Rolling web servers with Salt</h1>
        </div>

      </div>
    </div>

    <div id="body-container" class="grid-container full">
      <div class="grid-x grid-padding-x">
        <div class="cell small-3 align-center text-center">
          <img id="ada-portrait" src="../src/images/ada-portrait.png" />
        </div>
        <div class="cell small-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu pharetra est, vitae ultricies nisi. Phasellus in nisi turpis. Praesent mattis mi vel mauris tempus, at cursus lorem porta. Etiam ac auctor elit, nec tristique elit. Integer congue porttitor auctor. Cras facilisis massa quis dui hendrerit vehicula. Nulla lacinia vehicula elit, eu sodales mi vehicula quis.</p>
          <p>Quisque a dapibus leo. Praesent ut dui aliquet, fringilla lorem eu, venenatis lectus. Suspendisse dapibus eu mi at mollis. Morbi suscipit pellentesque erat vulputate facilisis. Sed justo nunc, aliquam et dui non, laoreet dapibus turpis. Nullam tempus justo vitae dui tristique mollis. Ut suscipit egestas lectus, vitae mollis nibh feugiat vitae.</p>
          <p>Integer eu enim sed lacus laoreet convallis. Praesent ut sapien molestie, venenatis quam at, dictum sapien. Sed fermentum, sapien eget dapibus eleifend, nulla elit vulputate ex, ac interdum erat nunc vel sem. Aenean vehicula rhoncus ligula a maximus. Quisque ac ex efficitur, convallis erat ac, malesuada ipsum. Fusce malesuada tempor tortor, in egestas sapien. Duis in sem id nulla tempus condimentum ac sed arcu. Vestibulum ut finibus mauris.</p>
          <p>Quisque vehicula vestibulum lectus, id ornare sem faucibus in. Duis orci libero, ullamcorper non tortor vitae, dictum condimentum lorem. Mauris ultricies, sapien id luctus sodales, ante ante molestie mi, eget interdum metus sapien ut nulla. Integer in convallis massa. Aliquam nec lacus sed ex finibus placerat. Aliquam in neque dapibus, tincidunt nisi at, malesuada ligula. Fusce tempus purus quam, et faucibus urna dapibus vitae. Proin non tempor dolor.</p>
          <p>Sed rhoncus tellus sit amet ex faucibus malesuada. Mauris rhoncus fermentum purus, vitae tincidunt mi accumsan non. Phasellus consectetur leo lacus, quis viverra lectus euismod sed. Morbi eu sapien arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris lectus nisi, scelerisque blandit finibus in, tempus eu ex. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris dui dolor, egestas eget nisi eu, facilisis aliquam lectus. Ut eget pellentesque mauris. Nunc interdum turpis sit amet mauris dictum pharetra. Pellentesque ac ullamcorper quam, et pretium ante. Proin vel arcu eu leo porttitor porta ut nec ipsum. Etiam egestas quis erat sit amet suscipit. Donec congue placerat tellus ut dignissim.</p>
          <p>Suspendisse ac orci ornare, sagittis augue quis, tristique velit. Suspendisse a enim malesuada, ullamcorper neque sit amet, auctor nibh. Quisque fermentum nulla ut viverra pellentesque. Sed eu massa lorem. Quisque sollicitudin elementum arcu, nec commodo augue pretium eu. Proin fermentum dui sed justo congue interdum. Maecenas id nunc id eros cursus consectetur. Vivamus tincidunt, lectus sit amet mollis condimentum, felis lacus blandit neque, non tincidunt magna lacus a nunc. Duis vitae dui ante. Donec vel tortor sit amet orci sollicitudin semper. Sed finibus volutpat lacus a accumsan. Nulla massa metus, aliquet in interdum nec, tincidunt sed sapien. Aenean consequat placerat purus porta tempor. Nunc tincidunt fringilla neque. Ut nec fermentum urna.</p>
          <p>Fusce pharetra diam neque, nec fermentum nisi fermentum ac. Mauris bibendum justo id risus pulvinar, vitae congue sapien viverra. Donec sit amet dui ut purus tempus ultricies. Sed erat est, imperdiet vel sollicitudin in, lacinia et justo. Integer in lacinia dolor. Nunc imperdiet nisl vitae est faucibus iaculis. Integer placerat mi nibh, et bibendum dui scelerisque sed. Proin porta volutpat neque gravida imperdiet. Maecenas efficitur nibh a venenatis scelerisque.</p>
          <p>Donec ac purus eget tellus vehicula volutpat. Morbi vestibulum, ex ac ultrices rutrum, lacus quam tincidunt elit, non semper justo sem vel quam. Quisque faucibus tristique orci, nec feugiat nisl iaculis non. Donec ut augue lectus. Phasellus vel interdum quam, ut egestas diam. Morbi eu urna sit amet nisl scelerisque pulvinar sit amet nec justo. Fusce elementum ac magna vitae vulputate. Proin pretium lacus nec tincidunt finibus. Donec vel turpis in lorem dapibus molestie sed in ipsum. Duis et leo id orci blandit mattis. Sed pretium vel libero at lacinia. Aliquam sapien purus, tempus vel massa id, mollis ornare metus. Fusce ut nibh non dolor porttitor bibendum. Cras interdum eros ut lorem bibendum lacinia eget nec elit. Suspendisse vehicula cursus arcu nec vestibulum.</p>
          <p>Proin posuere odio non dui dignissim pharetra. Duis ut dui at dolor blandit elementum. Proin hendrerit dignissim nisl vitae vestibulum. Sed ut dolor purus. Nam turpis nulla, pulvinar euismod magna rhoncus, vulputate efficitur dui. Fusce convallis porta viverra. Nullam elementum quam ut diam elementum, eu interdum tortor eleifend. Fusce sed lorem luctus neque sodales efficitur. Integer dictum auctor purus ullamcorper aliquet. Praesent ultrices feugiat faucibus. Sed mollis, justo non consequat pulvinar, augue diam porttitor ligula, et mollis mauris dui quis orci. Nulla finibus eu mi non feugiat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse interdum tincidunt volutpat. Fusce non justo dignissim turpis tempus malesuada sit amet ut lacus. Donec mollis, magna ut condimentum ultrices, justo lectus feugiat nulla, sed consequat nisi purus imperdiet augue.</p>
          <p>Maecenas at sapien mollis, vulputate turpis vitae, consequat sapien. Phasellus id venenatis nisi, quis hendrerit augue. Integer consectetur sollicitudin eleifend. Nunc quis enim urna. Nunc non ante non ex finibus faucibus. Integer dictum nunc vitae leo iaculis lacinia. In nec purus non lorem commodo fermentum at non erat. Aenean ullamcorper nisi neque, in iaculis neque tempus sed. Curabitur dictum leo massa, ut pretium lacus viverra id. Etiam nisi diam, gravida at porta vel, egestas quis augue. Quisque ultricies tellus nec lobortis sagittis. Ut neque tellus, cursus eget arcu nec, tincidunt accumsan velit. Duis sed ultrices sem.</p>
          <p>Donec auctor ullamcorper mollis. Proin in felis sagittis urna suscipit condimentum vitae nec leo. Phasellus sagittis quam justo, in tristique libero eleifend id. Nunc interdum hendrerit leo, quis viverra augue blandit eu. Praesent posuere erat ut velit sollicitudin, at viverra felis dignissim. Donec interdum lacus vitae lobortis interdum. Fusce in magna tincidunt nisl sagittis condimentum. Sed feugiat eros non lacus iaculis gravida. Etiam orci tortor, mollis at felis id, ultricies convallis est.</p>
          <p>Integer id augue a leo molestie imperdiet hendrerit quis tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus eu malesuada ex, id dapibus leo. Aliquam pharetra libero vel dui faucibus, finibus consectetur felis euismod. Integer volutpat lorem vel congue ornare. Vivamus at orci magna. Maecenas porta porttitor augue a iaculis. Donec luctus, orci id sollicitudin tempor, ligula ex egestas enim, at tincidunt felis diam nec quam. Morbi varius maximus purus, in scelerisque justo fringilla in. Pellentesque vel dui risus. Nunc condimentum dui eget porttitor semper. Donec ac mattis tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc dignissim, lorem at semper interdum, felis risus eleifend lacus, quis lobortis dui odio id tortor. Donec dignissim pretium dui at placerat.</p>
          <p>Curabitur sit amet ante aliquet elit tristique hendrerit. Phasellus aliquet risus sed orci suscipit dignissim. Vivamus imperdiet molestie congue. Proin vitae interdum nulla. Pellentesque finibus lacus a libero scelerisque feugiat. Donec sodales luctus risus, id volutpat risus imperdiet ac. Maecenas vulputate, ante id mollis scelerisque, ex sem commodo diam, ac bibendum leo ligula sit amet magna. Nunc vel consequat sem, sollicitudin posuere ipsum. Donec sit amet elit at tortor mattis tempus.</p>
          <p>Fusce rutrum condimentum lectus, nec blandit felis rutrum convallis. Aliquam erat volutpat. Donec maximus dolor in ante egestas, ac placerat velit auctor. Mauris lorem purus, sagittis quis hendrerit vel, auctor at augue. Aliquam convallis sagittis convallis. Mauris auctor in felis quis condimentum. Quisque nulla purus, aliquam vitae ex at, semper porttitor turpis. Aliquam at felis porttitor, rhoncus eros ut, pellentesque odio. Sed nulla neque, lacinia eget egestas vel, bibendum at ex. Praesent viverra odio non nisl euismod vulputate. Phasellus vel placerat risus.</p>
          <p>Etiam gravida, eros at fringilla posuere, turpis massa iaculis urna, eu dapibus massa quam efficitur orci. Vivamus finibus ligula in ullamcorper venenatis. Proin sed erat ac nulla volutpat gravida. Phasellus tempor mi nec lobortis ultrices. Nam vehicula ex ligula, nec tristique nibh varius vel. Aliquam malesuada magna id lectus dapibus, in tincidunt nisl vehicula. Donec eget posuere mi, ac dapibus orci. Phasellus non libero sem. Fusce ut lobortis est, sed cursus ligula. Pellentesque ut maximus mi. Phasellus ut lacus a ligula malesuada venenatis. Aenean cursus nisi vel justo ullamcorper, sit amet vehicula justo dapibus. Nullam non cursus odio.</p>
          <p>Nunc lacinia augue non purus aliquam pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla efficitur tortor vitae massa lobortis tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam ligula nibh, ultricies sed blandit ullamcorper, feugiat a tortor. Integer ut sem at dolor dapibus consequat sed eget nisi. Fusce non arcu a neque porta dignissim. Nam ut ante odio. Cras accumsan, neque vitae feugiat tincidunt, quam urna laoreet quam, convallis iaculis sapien sapien eget sapien. Etiam justo eros, dapibus et neque ut, finibus maximus urna. In mollis dolor ac dapibus sodales. Nullam gravida iaculis sapien. Mauris viverra quam ut leo sollicitudin dictum non a augue.</p>
          <p>Donec bibendum, quam sit amet sagittis tempus, odio nisl faucibus nisl, at molestie libero lorem sit amet orci. Phasellus bibendum ligula est, vitae lacinia leo bibendum et. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum pellentesque quis tortor ac rutrum. Proin ante justo, tincidunt tincidunt euismod aliquet, commodo a tellus. Phasellus suscipit quam eu mauris euismod semper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus vulputate sapien et tristique feugiat. Cras vel metus non nibh viverra posuere.</p>
          <p>Etiam gravida mi non ligula maximus lacinia. Nulla non mi nec odio faucibus pulvinar dictum nec orci. Duis pulvinar tempus faucibus. Maecenas elementum ante sapien, vel posuere felis eleifend ut. In diam nulla, accumsan sit amet eros at, aliquam mollis tortor. Maecenas varius, massa sit amet venenatis ullamcorper, lacus libero hendrerit felis, sed molestie quam risus sit amet augue. Integer dapibus ultricies tellus non pretium. Curabitur bibendum ornare tortor, in sollicitudin purus rutrum ac. Sed in tristique libero. Maecenas tempor sed erat vitae hendrerit. Aenean consequat pellentesque ex, hendrerit ultricies ipsum convallis ac. Vivamus volutpat id erat sollicitudin ornare. Aenean vitae egestas nisi. Phasellus ac fermentum nisl. Proin imperdiet auctor nisi, sit amet tempus est pharetra in. Aliquam condimentum pulvinar pulvinar.</p>
          <p>Sed lacus dui, ornare vitae lacinia eget, hendrerit nec neque. Duis congue sollicitudin egestas. Donec placerat leo mi, sed sagittis neque tempus ut. Fusce iaculis interdum risus ut iaculis. Nunc ut purus at elit viverra venenatis ut volutpat nisl. Mauris quis massa mattis, elementum nisl at, luctus sapien. Pellentesque cursus molestie leo quis posuere. Curabitur ante nibh, interdum lobortis lectus in, sodales malesuada purus. Nulla varius auctor dictum. Maecenas at aliquet massa. Maecenas vel ante malesuada, aliquet enim et, elementum libero. Suspendisse tincidunt ex risus, sit amet mattis urna mattis in. Fusce euismod volutpat erat eget elementum. Morbi eget fermentum magna, vel viverra ligula.</p>
          <p>Nunc mattis, odio id auctor faucibus, ante odio fermentum augue, ut pharetra tellus sem et enim. Sed tincidunt pellentesque sapien, quis suscipit lacus semper nec. Maecenas vitae urna sit amet tortor ultrices tempor eu sed tellus. Nunc sagittis maximus justo, nec posuere mi posuere at. Duis feugiat erat id sapien tincidunt eleifend. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec vulputate sodales aliquet. Ut eu tortor id nibh pellentesque finibus. Morbi a enim id magna congue vulputate.</p>
        </div>
      </div>
    </div>
    </main>

    <footer>
    <div id="pride-stripe" class="grid-container full">
      <div class="grid-x">
        <div class="cell small-2 pride_red"></div>
        <div class="cell small-2 pride_orange"></div>
        <div class="cell small-2 pride_yellow"></div>
        <div class="cell small-2 pride_green"></div>
        <div class="cell small-2 pride_blue"></div>
        <div class="cell small-2 pride_purple"></div>
      </div>
    </div>
    </footer>


  </div><!--end #body-lining--></body>
</html>
