
@import 'defaults';
@import 'settings';

@import 'lib/foundation/foundation';
@import 'lib/motion-ui/motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
// @include foundation-grid;
// @include foundation-flex-grid;
@include foundation-xy-grid-classes(
  /* options
  $base-grid: true,
  $margin-grid: true,
  $padding-grid: true,
  $block-grid: true,
  $collapse: true,
  $offset: true,
  $vertical-grid: true,
  $frame-grid: true
  */
);



////// Generic components
//@include foundation-button;  // foobar
//@include foundation-button-group;  // foobar
//@include foundation-close-button;  // foobar
//@include foundation-label;  // foobar
//@include foundation-progress-bar;  // foobar
//@include foundation-slider;  // foobar
//@include foundation-switch;  // foobar
//@include foundation-table;  // foobar
////// Basic components
@include foundation-badge;  // foobar
//@include foundation-breadcrumbs;  // foobar
//@include foundation-callout;  // foobar
//@include foundation-card;  // foobar
////@include foundation-dropdown;
//@include foundation-pagination;  // foobar
//@include foundation-tooltip;  // foobar
////
////// Containers
//@include foundation-accordion;  // foobar
//@include foundation-media-object;  // foobar
//@include foundation-orbit;  // foobar
//@include foundation-responsive-embed;  // foobar
//@include foundation-tabs;  // foobar
//@include foundation-thumbnail;  // foobar
////// Menu-based containers
////@include foundation-menu;
//@include foundation-menu-icon;  // foobar
//@include foundation-accordion-menu;  // foobar
//@include foundation-drilldown-menu;
////@include foundation-dropdown-menu;
////
////// Layout components
//@include foundation-off-canvas;  // foobar
//@include foundation-reveal;  // foobar
//@include foundation-sticky;
//@include foundation-title-bar;
////@include foundation-top-bar;
////
////// Helpers
//@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
//// @include foundation-prototype-classes;
////
////// Motion UI
//@include motion-ui-transitions;
//@include motion-ui-animations;

